backend/wall-server/src/main/resources/application.yml
backend/wall-server/src/main/resources/application-dev.yml
backend/wall-server/src/main/resources/application-prod.yml
backend/wall-server/target/classes/application.yml
backend/wall-server/target/classes/application-dev.yml
backend/wall-server/target/classes/application-prod.yml

uniapp/src/utils/env.js
uniapp/dist/mp-weixin/utils/env.js

node_modules/
docs/.vitepress/dist
docs/.vitepress/cache