
backend/wall-server/src/main/resources/application-dev.yml
backend/wall-server/src/main/resources/application-prod.yml
backend/wall-server/target/classes/application-dev.yml
backend/wall-server/target/classes/application-prod.yml
