# 默认的 npm 注册表
registry=https://registry.npmjs.org/

# GitHub Packages 注册表的配置
@Pleasurecruise:registry=https://npm.pkg.github.com/

# GitHub Token（用于 GitHub Packages）
//npm.pkg.github.com/:_authToken=${GH_TOKEN}

# npm Token（用于默认 npm 注册表）
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
